

		</div>
		<hr>
<div>
		<div id="body">
				<a id="start" ng-hide="hideStart" ng-animation="{show:'show-start',hide:'hide-start'}" href="" ng-click="chooseDifficulty()">Start</a>
				<h1 id="counter" ng-show="showCountDown"> {{counter + 1}} </h1>
				<div  ng-cloak ng-hide="showProgress" ng-cloak ng-animate="{show:'show-progress',hide:'hide-progress'}" id="progress">
					<ul>
						<li class="progressNumber">1</li>
						<li class="progressNumber">2</li>
						<li class="progressNumber">3</li>
						<li class="progressNumber">4</li>
						<li class="progressNumber">5</li>
						<li class="progressNumber">6</li>
						<li class="progressNumber">7</li>
						<li class="progressNumber">8</li>
					</ul>
				</div>
			<div id="questionSection" showQuestion template="{{qTemplate}}"></div>
				<!--<h2>6</h2>
				<div id="question"><p>There are many hackers that spread worms through the internet. Therefore, if you use the internet without a firewall, it is inevitable that you will be hacked.</p>			
				</div>
				<div id="multiple-choice" class="clear">
					<div id="left-choices">
						<div class="choice"><span>A</span><a href=""> Appeal to the Majority</a></div>
						<div class="choice" id="selected"><span>B</span><a href=""> Appeal to Probabilty</a></div>
						<div class="choice"><span>C</span><a href=""> Begging the Question</a></div>
					</div>

					<div id="right-choices">
						<div class="choice"><span>D</span><a href=""> Affirming the Consequent</a></div>
						<div class="choice"><span>E</span><a href=""> Appeal to Authority</a></div>
						<div class="choice"><span>F</span><a href=""> Argument from Ignorance</a></div>
					</div>
				</div>
				<a id="next" href="">Next ></a>
-->			</div>
			</div>
		</div>

</div>